button.new-book {
  margin: auto;
  padding: 10px 40px;
  background-color: black;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 12px;
  display: block;
  margin-bottom: 40px;
}
.book-form {
  display: none;
  background-color: #00000085;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50vh;
  width: 100%;
  color: white;
  font-weight: bold;
  font-size: 2.5em;
  padding: 20%;
}
.book-form form {
  width: 70%;
  margin: auto;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(56, 56, 56);
  border: 2px solid white;
  border-radius: 5%/10%;

  padding: 30px;
}
.book-form .input {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  gap: 10px;
}
.book-form .input:has(button) {
  margin: auto;
}
.book-form .input label {
  text-align: right;
}
.book-form .input input {
  height: 25px;
  border-radius: 12px;
  outline: none;
  border: 2px solid rgb(20, 221, 20);
  font-size: 1.5rem;
  text-align: center;
}
.book-form .input input[type="number"] {
  width: 8%;
  margin: auto;
}
.book-form .input input[type="checkbox"] {
  webkit-appearance: none;
  appearance: none;
  width: 1.15em;
  height: 1.15em;
  border-radius: 0.15em;
  border: 2px solid black;
  background-color: #eee;
  position: relative;
}
.book-form .input input[type="checkbox"]::after {
  content: "";
  position: absolute;
  background-color: rgb(20, 221, 20);
  height: 80%;
  width: 80%;
  left: 50%;
  top: 50%;
  transform: scale(0) translate(-100%, -100%);
  border-radius: inherit;
}
.book-form .input input[type="checkbox"]:checked::after {
  transform: scale(1) translate(-50%, -50%);
  transition: 0.3s;
}

.book-form form button {
  margin: auto;
  padding: 10px 40px;
  background-color: rgb(20, 221, 20);
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 50px;
  display: block;
  margin-bottom: 40px;
}
#booksShelf {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1%;
}
.book {
  padding: 10px 20px;
  text-align: center;
  border: 3px solid black;
  border-radius: 12px;
}
.book img {
  width: 100%;
}
.book .title {
  margin-bottom: 0;
}
.book .author {
  margin-top: 0;
  font-size: 0.8em;
  color: gray;
}
.book .pages {
  font-size: 1.2em;
  font-weight: bold;
  margin: 0;
}
.book .status {
  margin-top: 0;
  color: gray;
}
.book .remove {
  margin: auto;
  padding: 10px 40px;
  background-color: rgb(253, 42, 42);
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 50px;
  display: block;
  margin-bottom: 40px;
}
.book .toggle-status {
  margin: auto;
  padding: 10px 40px;
  color: white;
  font-size: 1.4em;
  font-weight: bold;
  border-radius: 50px;
  display: block;
  margin-bottom: 40px;
}
